{% extends 'alunos/base.html' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block conteudo %}
    <h2>{{ titulo }}</h2>
    <form method="post" class="formulario" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="campo">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="erros">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <div class="acoes-form">
            <button type="submit" class="botao">Salvar</button>
            <a href="{% url 'lista_alunos' %}">Cancelar</a>
        </div>
    </form>
{% endblock %}
